.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  .left,
  .right {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
