############################
# Global Ignored Files
############################
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.env

############################
# Node.js / Angular (frontend)
############################
/bookstore_frontend/node_modules/
/bookstore_frontend/dist/
/bookstore_frontend/.angular/
/bookstore_frontend/.cache/
/bookstore_frontend/.turbo/

############################
# .NET / ASP.NET Core (backend)
############################
/BookStore_Backend/bin/
/BookStore_Backend/obj/
/BookStore_Backend/.vs/
/BookStore_Backend/.vscode/
**/*.user
**/*.suo
**/*.dbmdl
**/*.pdb
**/*.mdb
**/*.cache
**/TestResults/
