.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h2 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;

    mat-icon {
      margin-right: 0.5rem;
      color: #673ab7;
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;

  mat-form-field {
    flex: 1 1 200px;
  }
}

.table-container {
  overflow-x: auto;
  margin-bottom: 1rem;

  table {
    width: 100%;
  }

  .no-results {
    opacity: 0.7;
    margin-top: 1rem;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
