<app-stats-summary
  *ngIf="stats$ | async as stats"
  [totalBooks]="stats.totalBooks"
  [totalAuthors]="stats.totalAuthors"
  [totalCategories]="stats.totalCategories"
></app-stats-summary>

<div class="header">
  <h2 class="header-title">
    <mat-icon>menu_book</mat-icon>
    Books
  </h2>
  <div class="header-actions">
    <button matButton="filled" routerLink="/books/new">
      <mat-icon>add</mat-icon>
      Add New Book
    </button>
    <button matButton="tonal" (click)="exportReport()">
      <mat-icon>download</mat-icon>
      Export Report
    </button>
  </div>
</div>

<div class="filters">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      (input)="search$.next($any($event.target).value)"
      placeholder="Search by title, author, ISBN"
    />
  </mat-form-field>

  <app-category-select
    [label]="'Filter Category'"
    [ngModel]="category$.value"
    (ngModelChange)="category$.next($event)"
  ></app-category-select>
</div>

<ng-container *ngIf="books$ | async as books">
  <div class="table-container">
    <cdk-virtual-scroll-viewport
      itemSize="56"
      class="virtual-scroll-viewport"
      [style.height.px]="500"
    >
      <table mat-table [dataSource]="books" class="mat-elevation-z2">
        <ng-container matColumnDef="isbn">
          <th mat-header-cell *matHeaderCellDef>ISBN</th>
          <td mat-cell *matCellDef="let book">{{ book.isbn }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let book">{{ book.title }}</td>
        </ng-container>

        <ng-container matColumnDef="authors">
          <th mat-header-cell *matHeaderCellDef>Authors</th>
          <td mat-cell *matCellDef="let book">{{ book.authors.join(', ') }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let book">{{ book.category }}</td>
        </ng-container>

        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let book">{{ book.year }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let book">${{ book.price }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let book">
            <button
              mat-icon-button
              color="primary"
              [routerLink]="['/books', book.isbn, 'edit']"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="confirmDelete(book)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [class.highlight]="row.isbn === highlightedIsbn"
        ></tr>
      </table>
    </cdk-virtual-scroll-viewport>
    <div class="no-results" *ngIf="(books$ | async)?.length === 0">
      <mat-icon>search_off</mat-icon>
      No results found.
    </div>
  </div>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="initialPageSize"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</ng-container>
